<%= link_to 'Vote', new_vote_path(obj.class.to_s,obj.id), :method => 'post', :remote => true, :'data-type' => 'json', :class => 'vote_button' %>
<span class='vote_count'><%= obj.votes.count %></span>
