
.body{
  padding-top: 60px;
}

.lightbox{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(99,99,99,0.8);
  
  form{
    top: 300px;
    margin: auto;
    width: 25%;
    background-color: #E67E22;
    padding: 30px;
    margin-top: 250px;
  }
}

.navbar-text {
  line-height: 51px;
}

.imagela{
  padding-bottom: 20px;
}

a.vote-button{
  text-decoration: none;
}
